NEXT_PUBLIC_WP_API_URL=https://cms.weeklywildcat.com/wp-json/wp/v2
NEXT_PUBLIC_SITE_URL=https://weeklywildcat.com
POLL_COOKIE_SECRET=replace_with_a_long_random_poll_cookie_secret
NEXT_PUBLIC_TURNSTILE_SITE_KEY=your_public_turnstile_site_key
